# SLURM and other log files
*.out
*.err
*.log

# Hydra outputs
outputs/
multirun/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data, models, and W&B
data/
checkpoints/
wandb/
production_checkpoints/

# IDE and OS files
.vscode/
.idea/
.DS_Storeproduction_checkpoints/
